<div class="footer">
    <div class="container">
      <div class="footer-grids">
        <div class="col-md-3 footer-grid animated wow slideInLeft" data-wow-delay=".2s">
          <h3>About Us</h3>
          <p>TeachMe is a platform which connects between people looking to learn and aquire new skills and masters that will teach them.</span></p>
        </div>
        <div class="col-md-3 footer-grid animated wow slideInLeft" data-wow-delay=".2s">
          <h3>Contact Info</h3>
          <ul>
            <li><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i><a href="mailto:TeachMe@example.com">info@TeachMe.com</a></li>
          </ul>
        </div>
        <div class="col-md-3 footer-grid animated wow slideInLeft" data-wow-delay=".2s">
          <h3>README</h3>
          <ul>
            <li><a href="/README-Meitar.html">Meitar's README file</a></li>
            <li><a href="/README-Mai.html">Mai's README file</a></li>
          </ul>
        </div>
        
        <div class="clearfix"> </div>
      </div>
      <div class="footer-logo animated wow slideInUp" data-wow-delay=".2s">
        <h2><a href="/">TeachMe <span>Everywhere</span></a></h2>
      </div>
    </div>
  </div>