<div class="header">
    <div class="container">
        <div class="logo-nav">
            <div class="logo-nav-left animated wow zoomIn" data-wow-delay=".5s">
                <h1><a href="/">TeachMe <span>Everywhere</span></a></h1>
            </div>
            <div class="logo-nav-left1">
                <nav class="navbar navbar-default">
                <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="/" class="act">Home</a></li>	
                        <li><a href="register">Register</a></li>
                        <li><a href="login">Login</a></li>
                    </ul>
                </div>
                </nav>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>