<!DOCTYPE html>
<html>
<head>
    <title>TeachMe | Checkout</title>
	
	<% include partials/head %>

</head>
	
<body>
<!-- header -->
	<% include partials/logged-header %>
<!-- //header -->
<!-- register -->
	<div class="register">
		<div class="container">
			<h3 class="animated wow zoomIn" data-wow-delay=".5s">Checkout</h3>
			<div class="login-form-grids">
                <h5 class="animated wow slideInUp" data-wow-delay=".5s">Total Price: $<%= totalPrice %></h5>
                <h6 class="animated wow slideInUp" data-wow-delay=".5s">Payment Details</h6>
				<form class="animated wow slideInUp" id="register-form" data-wow-delay=".5s">
					<input type="text" id="card-holder" placeholder="Card Holder*" required>
					<input type="text" id="card-number" placeholder="Credit Card Number*" required>
					<label for="expiration-date">Expiration Date</label><input type="month" id="expiration-date" placeholder="Expiration Month" required>
                    <input type="number" id="cvv" placeholder="CVV*" required><br><br>
                    <div class="alert alert-danger hidden" role="alert" id="incorrect-details"></div>
					<input type="submit" id="confirm" value="Confirm Purchase">
				</form>
			</div>
		</div>
	</div>
<!-- //register -->
<!-- footer -->
	<% include partials/footer %>
<!-- //footer -->

<!-- javascript -->	
<script type="text/javascript" src="../javascripts/checkout.js"></script>
<script src="../javascripts/jquery.payform.min.js" charset="utf-8"></script>
<!-- //javascript -->
</body>
</html>