<!DOCTYPE html>
<html>
<head>
    <title>TeachMe | Become a Teacher</title>
	<% include partials/head %>
</head>
	
<body>
<!-- header -->
<% include partials/logged-header %>
<!-- //header -->
<!-- Teach -->
	<div class="register">
		<div class="container">
			<h3 class="animated wow zoomIn" data-wow-delay=".5s">Become a Teacher</h3>
			<div class="login-form-grids">
				<div class="animated wow slideInUp" data-wow-delay=".5s">
                    <div class="upload-image">
                        <input type="file" id="file" accept="image/*" required=" ">
						<label for="file" onclick="displayFileName()">Upload Photo</label>
						<span id=fileUploaded></span>
                    </div>
                    <input type="text" id="proficiencies" placeholder="What do you teach?" required=" " >
					<textarea maxlength="200" id="details" placeholder="Add details about yourself and your experience"></textarea>
					<span id="already-teacher"></span>
					<input type="submit" onclick="register('<%= userID %>')" value="Register as a Teacher">
				</div>
			</div>
		</div>
	</div>
<!-- /Teach -->
<!-- footer -->
	<% include partials/footer %>
<!-- //footer -->
	<script type="text/javascript" src="../javascripts/enroll.js"></script>
</body>
</html>