<!DOCTYPE html>
<html>
<head>
<title>TeachMe | Home</title>

<link href="../stylesheets/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="../stylesheets/style.css" rel="stylesheet" type="text/css" media="all" />

<!-- js -->
<script src="../javascripts/jquery.min.js"></script>
<!-- //js -->

<!-- for bootstrap working -->
<script type="text/javascript" src="../javascripts/bootstrap-3.1.1.min.js"></script>
<!-- //for bootstrap working -->

<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

<!-- animation-effect -->
<link href="../stylesheets/animate.min.css" rel="stylesheet"> 
<script src="../javascripts/wow.min.js"></script>
<script>
 new WOW().init();
</script>
<!-- //animation-effect -->
</head>
	
<body>
<!-- header -->
	<div class="header">
		<div class="container">
			<div class="logo-nav">
				<div class="logo-nav-left animated wow zoomIn" data-wow-delay=".5s">
					<h1><a href="/">TeachMe <span>Shop anywhere</span></a></h1>
				</div>
				<div class="logo-nav-left1">
					<nav class="navbar navbar-default">
					<div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
						<ul class="nav navbar-nav">
							<li class="active"><a href="/" class="act">Home</a></li>	
							<li><a href="register">Register</a></li>
							<li><a href="login">Login</a></li>
						</ul>
					</div>
					</nav>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
<!-- //header -->

<!-- banner -->
	<div class="banner">
		<div class="container">
			<div class="banner-info animated wow zoomIn" data-wow-delay=".5s">
        <h3>Learn Everything Anywhere</h3><br>
        <h4>Sign in and start learning</h4><br>
				<div class="wmuSlider example1">
					<div class="wmuSliderWrapper">
						<article style="position: absolute; width: 100%; opacity: 0;"> 
							<div class="banner-wrap">
								<div class="banner-info1">
									<p>Book an online lesson with a professional!</p>
								</div>
							</div>
						</article>
						<article style="position: absolute; width: 100%; opacity: 0;"> 
							<div class="banner-wrap">
								<div class="banner-info1">
									<p>Learn anything you wish you knew!</p>
								</div>
							</div>
						</article>
						<article style="position: absolute; width: 100%; opacity: 0;"> 
							<div class="banner-wrap">
								<div class="banner-info1">
									<p>Become a teacher and share your knowledge!</p>
								</div>
							</div>
						</article>
					</div>
        </div>
        
        <div class="login-register-links">
				<a href="login"><input type="button" value="Login"></a>
				<a href="register"><input type="button" value="Register"></a>
        </div>
        
					<script src="../javascripts/jquery.wmuSlider.js"></script> 
					<script>
						$('.example1').wmuSlider();         
					</script> 
			</div>
		</div>
	</div>
<!-- //banner -->

<!-- footer -->
<div class="footer">
  <div class="container">
    <div class="footer-grids">
      <div class="col-md-3 footer-grid animated wow slideInLeft" data-wow-delay=".5s">
        <h3>About Us</h3>
        <p>TeachMe is a platform which connects between people looking to learn and aquire new skills and masters that will teach them.</span></p>
      </div>
      <div class="col-md-3 footer-grid animated wow slideInLeft" data-wow-delay=".6s">
        <h3>Contact Info</h3>
        <ul>
          <li><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i><a href="mailto:TeachMe@example.com">info@example.com</a></li>
        </ul>
      </div>
      
      <div class="clearfix"> </div>
    </div>
    <div class="footer-logo animated wow slideInUp" data-wow-delay=".5s">
      <h2><a href="/">TeachMe <span>shop anywhere</span></a></h2>
    </div>
  </div>
</div>
<!-- //footer -->
</body>
</html>