<!DOCTYPE html>
<html>
<head>
	<title>TeachMe | Home</title>
	<% include partials/head %>
</head>
	
<body>
<!-- header -->
	<% include partials/header %>
<!-- //header -->

<!-- banner -->
	<div class="banner-container">
		<div class="banner">
			<div class="container">
				<div class="banner-info animated wow zoomIn" data-wow-delay=".5s">
					<h3>Learn Everything Anywhere</h3><br>
					<h4>Sign in and start learning</h4><br>
					<div class="login-register-links">
						<a href="login"><input type="button" value="Login"></a>
						<a href="register"><input type="button" value="Register"></a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="../javascripts/jquery.wmuSlider.js"></script> 
	<script>
		$('.example1').wmuSlider();         
	</script> 
<!-- //banner -->

<!-- footer -->
<% include partials/footer %>
<!-- //footer -->
</body>
</html>