<!DOCTYPE html>
<html>
	<head>
		<title>TeachMe | Login</title>
		<% include partials/head %>
	</head>
		
	<body>
		<!-- header -->
		<% include partials/header %>
		<!-- //header -->

		<!-- login -->
		<div class="login">
			<div class="container">
				<h3 class="animated wow zoomIn" data-wow-delay=".5s">Login</h3>
				<div class="login-form-grids animated wow slideInUp" data-wow-delay=".5s">
					<form id="login-form">
						<input type="email" id="email" placeholder="Email Address" required>
						<input type="password" id="password" placeholder="Password" required><br>
						<div class="hidden" role="alert" id="wrong-credentials"></div>
						<p><input type="checkbox" id="remember"> Remember Me</p>
						<input type="submit" value="Login">
					</form>
				</div>
				<h4 class="animated wow slideInUp" data-wow-delay=".5s">New User?</h4>
				<p class="animated wow slideInUp" data-wow-delay=".5s"><a href="register">Register Here</a> </p>
			</div>
		</div>
		<!-- //login -->

		<!-- footer -->
		<% include partials/footer %>
		<!-- //footer -->
		<!-- javascript -->	
		<script type="text/javascript" src="../javascripts/login.js"></script>
		<!-- //javascript -->
	</body>
</html>