<!DOCTYPE html>
<html>
	<head>
		<title>TeachMe | Register</title>
		<% include partials/head %>
	</head>
		
	<body>
	<!-- header -->
		<% include partials/header %>
	<!-- //header -->
	<!-- register -->
		<div class="register">
			<div class="container">
				<h3 class="animated wow zoomIn" data-wow-delay=".5s">Register Here</h3>
				<div class="login-form-grids">
					<h5 class="animated wow slideInUp" data-wow-delay=".5s">user information</h5>
					<form class="animated wow slideInUp" id="register-form" data-wow-delay=".5s">
						<input type="text" id="firstName" placeholder="First Name..." required>
						<input type="text" id="lastName" placeholder="Last Name..." required>
					<h6 class="animated wow slideInUp" data-wow-delay=".5s">Login information</h6>
						<input type="email" id="email" placeholder="Email Address" required>
						<span id="emailTaken"></span>
						<input type="password" id="password" placeholder="Password" required>
						<input type="submit" id="registerButton" value="Register">
					</form>
				</div>
			</div>
		</div>
	<!-- //register -->
	<!-- footer -->
		<% include partials/footer %>
	<!-- //footer -->
	<!-- javascript -->	
	<script type="text/javascript" src="../javascripts/register.js"></script>
	<!-- //javascript -->
	</body>
</html>