<!DOCTYPE html>
<html>
	<head>
		<title>TeachMe | Upload Class</title>
		<% include partials/head %>
	</head>
		
	<body>
	<!-- header -->
		<% include partials/logged-header %>
	<!-- //header -->
	<!-- Teach -->
		<div class="register">
			<div class="container">
				<h3 class="animated wow zoomIn" data-wow-delay=".5s">Add a Class</h3>
				<div class="login-form-grids">
					<form class="animated wow slideInUp" id="upload-form" data-wow-delay=".5s">
						<input type="text" id="title" placeholder="Class's title" required>
						<input type="text" id="subject" placeholder="Class's subject" required>
						<textarea maxlength="200" id="details" placeholder="Describe your class in a few words..."></textarea>
						<!-- <input type=button value="+ Add a Time Slot" onclick="addTimeSlot()"><br> -->
						<p>Class's Time</p>
						<input id="start-time" type="datetime-local" required> - <input type="time" id="end-time" name="appt" required><br><br>
						<i class="fas fa-dollar-sign"></i><input id="price" type="number" placeholder="Price in $" required>
						<input type="submit" value="Add">
					</form>
				</div>
			</div>
		</div>
	<!-- /Teach -->
	<!-- footer -->
		<% include partials/footer %>
	<!-- //footer -->
	<!-- javascript -->	
	<script type="text/javascript" src="../javascripts/upload.js"></script>
	<!-- //javascript -->
	</body>
</html>